{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
alias systemctl='sudo systemctl'
alias arrStackStart='sudo systemctl start radarr sonarr prowlarr jackett flaresolverr'
alias arrStackStop='sudo systemctl stop radarr sonarr prowlarr jackett flaresolverr'
{{   end }}
{{ end }}