{{- $email := promptString "Email" -}}
{{- $fullName := promptString "Full Name" -}}
{{- $autoCommit := promptString "Enable chezmoi auto-commit/auto-update" -}}


[data]
    email = "{{ $email }}"
    
