{{- $autoCommit := promptBoolOnce . "autoCommit" "Enable chezmoi auto-commit/auto-update (true/false)" -}}
{{- $context := promptStringOnce . "context" "Machine context (personal/work)" -}}

[settings]
  home = "$HOME"
  config_dir = "${HOME}/.config"
  # Add any other centralized path variables here

[data]
  fullName = "{{ onepasswordRead "op://Private/aqndunkxd5a5jhmpz7g5ahjz2y/firstname" }} {{ onepasswordRead "op://Private/aqndunkxd5a5jhmpz7g5ahjz2y/lastname" }}"
  email    = "{{ onepasswordRead "op://Private/aqndunkxd5a5jhmpz7g5ahjz2y/email" }}"
  autoCommit = {{ $autoCommit }}
  context    = {{ $context | quote }}

# Platform Detection
{{ if eq .chezmoi.os "darwin" }}
  macOSMajorVersion = "{{ output "sw_vers" "-productVersion" | splitList "." | first | trim }}"
{{ else if eq .chezmoi.os "windows" }}
[windows]
{{ else if eq .chezmoi.os "linux" }}
[linux]
  shell_path = "$(which bash)"
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
[wsl]
  wsl = true
{{ else }}
  wsl = false
{{   end }}
{{ end }}
{{ end }}

[git]
    autoCommit = {{ $autoCommit }}
    autoPush = {{ $autoCommit }}