# This is Git's per-user configuration file.
[user]
    name = {{ .fullName }}
    email = {{ .email }}

[url "git@github.com:"]
    insteadOf = https://github.com/
[push]
    autoSetupRemote = true
    default = simple
    followTags = true

[fetch]

      prune = true
      pruneTag = true

[core]
    excludesfile = ~/.gitignoreglobal

[pull]
    rebase = false

[http]
    postBuffer = 157286400


[init]

    defaultBranch = main
