# This is Git's per-user configuration file.
[user]
    name = {{ .fullName }}
    email = {{ .email }}

[url "git@github.com:"]
    insteadOf = https://github.com/

[init]
    defaultBranch = main

[core]
    excludesfile = ~/.gitignoreglobal
{{ if eq .chezmoi.os "linux" -}}
     sshCommand = ssh.exe
{{ end }}

[push]
    default = simple
    autoSetupRemote = true
    followTags = true

[fetch]
    prune = true
    pruneTag = true

[pull]
    rebase = false
