{{- if ne .chezmoi.os "windows" -}}
#!/usr/bin/env bash

set -eo pipefail

# This script installs package managers and essential packages for macOS and Linux/Ubuntu

# Define package managers based on the OS type
if [[ "{{ .chezmoi.os }}" == "darwin" ]]; then
    PKG_MANAGER="brew"
    ESSENTIAL_PACKAGES="git wget curl dockutil bash"
    INSTALLER_CMD="install"
elif [[ "{{ .chezmoi.os }}" == "linux-gnu" ]]; then
    if [ -x "$(command -v apt)" ]; then
        PKG_MANAGER="apt"
        ESSENTIAL_PACKAGES="git wget curl"
        INSTALLER_CMD="install -y"
    elif [ -x "$(command -v pacman)" ]; then
        PKG_MANAGER="pacman"
        ESSENTIAL_PACKAGES="git wget curl"
        INSTALLER_CMD="install -y"
    else
        echo "Unsupported package manager"
        exit 1
    fi
else
    echo "Unsupported OS"
    exit 1
fi

# Install package manager if not installed
if ! command -v "${PKG_MANAGER}" &>/dev/null; then
    echo "Installing package manager: ${PKG_MANAGER}"
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Install essential packages
echo "Installing essential packages: ${ESSENTIAL_PACKAGES}"
${PKG_MANAGER} ${INSTALLER_CMD} ${ESSENTIAL_PACKAGES}

{{- end -}}
