{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

set -eo pipefail
export HOMEBREW_CASK_OPTS="--no-quarantine --adopt"
export MAS_NO_AUTO_INDEX=1

brew update

brew bundle --verbose --file=/dev/stdin <<EOF
{{ range .packages.darwin.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.brews_custom -}}
brew {{ .name | quote }}, args: [{{ range $i, $a := .args }}{{ if $i }}, {{ end }}{{ $a | quote }}{{ end }}]
{{ end -}}
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
{{- if ge (.chezmoi.config.data.macOSMajorVersion | atoi) 26 }}
{{ range .packages.darwin.casks_macos26plus -}}
cask {{ . | quote }}
{{ end -}}
{{- end -}}
{{ range .packages.darwin.mas -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end -}}
EOF

brew cleanup
{{- end -}}
