{
    "adaptive_dividers": true,
    "auto_complete": true,
    "auto_complete_delay": 650,
    "auto_complete_include_snippets": false,
    "bold_folder_labels": true,
    "close_windows_when_empty": true,
    "color_scheme": "Packages/Material Theme/schemes/Material-Theme-Darker.tmTheme",
    "console_max_history_lines": 3000,
    "copy_with_empty_selection": false,
    "create_window_at_startup": true,
    "detect_indentation": false,
    "drag_text": false,
    "draw_white_space": "all",
    "ensure_newline_at_eof_on_save": false,
    "fade_fold_buttons": false,
    "font_size": 16,
    "hide_new_tab_button": true,
    "highlight_line": true,
    "highlight_modified_tabs": true,
    "ignored_packages":
    [
        "Vintage",
    ],
    "indent_guide_options":
    [
        "draw_active"
    ],
    "index_files": true,
    "margin": 2,
    "material_theme_accent_cyan": true,
    "material_theme_accent_scrollbars": true,
    "material_theme_arrow_folders": true,
    "material_theme_bright_scrollbars": true,
    "material_theme_compact_sidebar": true,
    "material_theme_contrast_mode": true,
    "material_theme_small_statusbar": true,
    "material_theme_tree_headings": true,
    "remember_full_screen": true,
    "remember_layout": true,
    "remember_workspace": false,
    "ruler_style": "stippled",
    "scroll_past_end": 0.5,
    "shift_tab_unindent": true,
    "show_navigation_bar": false,
    "show_panel_on_build": true,
    "show_tab_close_buttons": false,
    "tab_completion": false,
    "tab_size": 4,
    "theme": "Material-Theme-Palenight.sublime-theme",
    "translate_tabs_to_spaces": true,
    "trim_trailing_white_space_on_save": false,
    "ui_scale": 1.0,

{{- if eq .chezmoi.os "darwin" }}
    "open_files_in_new_window": "finder_only",
    "default_line_ending": "system",

{{ else if eq .chezmoi.os "windows" -}}
    "open_files_in_new_window": "never",
    "default_line_ending": "unix",
{{ end -}}
}
