<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Product</key>
	<string>BetterTouchTool</string>
	<key>Name</key>
	<string>Braydon Brinkerhoff</string>
	<key>Email</key>
	<string>braydonbrinkerhoff@gmail.com</string>
	<key>OrderID</key>
	<string>5e113b21393288c15f26cc9f31888b1f</string>
	<key>LicenseType</key>
	<string>paddle_lifetime</string>
	<key>Licenses</key>
	<string>1</string>
	<key>Timestamp</key>
	<string>1688013202</string>
	<key>CheckoutName</key>
	<string>Braydon Brinkerhoff</string>
	<key>TransactionID</key>
	<string>220164010-chre343fe0e5102-7a854aebd1</string>
	<key>Signature</key>
	<data>EuH1r09JGJUJ4c/944kWdy0PuTI4mhTqZabU9sbHZS77AUUdQ9ZSN3YjQdFWqpLhqC8jmN1HRE3q
YpPbSBN3B2NKkgJMxaegOY1732jGbPOApHQikzDB2av8AK2XFQdhy26r9+TA2vWC0Ajh8Ev+1jvk
yiHi9V2AHfA+wTiuEDA=
</data>
</dict>
</plist>
